<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-offset-2 col-md-8">
    <% if @over_ten %>
      <%= link_to '以前のメッセージ', '?m=all' %>
    <% end %>
    </br>

    <% @messages.each do |message| %>
      <% if message.body.present? %>
        <% if message.user == current_user %> 
        <div class="balloon">
          <div class = "time_right">
            <%= message.message_time %>
          </div>
          </br>
          <figure class="balloon-image-right">
            <% if message.user.icon? %>
              <%= image_tag message.user.icon %>
            <% else %>
              <%= image_tag "Noimage.png" %>
            <% end %>
            <figcaption class="balloon-image-description">
              <%= message.user.name %>
            </figcaption>
          </figure>
          <div class="balloon-text-left">  
            <p><%= message.body %></p> 
          </div>
        </div>
        </br>
        <% else %>
        <div class="balloon">
          <div class = "time_left">
            <%= message.message_time %>
          </div>
          </br>
          <figure class="balloon-image-left">
            <% if message.user.icon? %>
              <%= image_tag message.user.icon %>
            <% else %>
              <%= image_tag "Noimage.png" %>
            <% end %>
            <figcaption class="balloon-image-description">
              <%= message.user.name %>
            </figcaption>
          </figure>
          <div class="balloon-text-right">
            <p><%= message.body %></p>
          </div>
        </div>
        </br>   
        <% end %>  
      <% end %>
    <% end %>
    </br>
    <%= form_with(model: [@conversation, @message]) do |f| %>
    <div class="form-group">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    <div>
      <%= f.submit "メッセージを送る" %>
    </div>
    <% end %>
    </div>
  </div>
</div>