<div class = "container-fluid">
  <div class = "row">
    <div class = "col-xs-12 col-md-10">
    <h4>プロフィール変更</h4>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group"> 
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "email" %>
      </div>
  
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password %> <i>(変更する場合のみ入力してください)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %>文字以上</em>
          <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(確認のために入力して下さい)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

　    <div class="form-group">
        <%= f.label :telephone %><i>(ハイフンなしで入力)</i><br />
        <%= f.text_field :telephone %>
      </div>
  
      <div class="form-group">
        <%= f.label :postal_code %><i>(ハイフンありで入力)</i><br />
        <%= f.text_field :postal_code %>
      </div>
  
      <div class="form-group">
        <%= f.label :address %><br />
        <%= f.text_field :address %>
      </div>

      <div class="form-group">
        <%= f.label :introduction %><br />
        <%= f.text_area :introduction %>
      </div>
  
      <div class="form-group">
        <%= f.label :プロフィール画像 %><br />
        <%= image_tag(@user.icon.url) if @user.icon.url %>
        <%= f.file_field :icon %>
        <%= f.hidden_field :icon_cache %>
      </div>
  
      <div class="form-group">
        <%= f.submit "更新", class: 'btn btn-success'%>
      </div>
    <% end %>

    <h5>アカウントを削除する</h5>

    <p><%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete, class: 'btn btn-danger' %></p>

    <%= link_to "Back", :back %>
    </div>
  </div>
</div>