<% lessons.each do |lesson| %>
      <div class="box1">
        <p>主催者：<%= lesson.user.name %></p>
        <p>タイトル：<%= lesson.title %></p>
        <p>内容：<%= lesson.content %></p>
        <p>開催日程：<%= lesson.event_date.strftime("%Y/%m/%d") %></p>
        <p>開催地：<%= lesson.address %></p>
        <p>定員：<%= lesson.capacity %>人</p>
        <p><%= image_tag(lesson.image.url) if lesson.image.url %></p>
        <p><%= link_to '詳細へ', lesson_path(lesson.id) %></p>
      </div>
      <% end %>
    </div>
  
