<!DOCTYPE html>
<html>
  <head>
    <title>Cooking！Do</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/agency.min.css" rel="stylesheet">
  </head>

  <body>
  <div class = "main-container">
  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <p class="navbar-brand">Cooking!Do</p>
        <ul class="navbar-nav  list-inline">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'トップ', lessons_path,class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to "会員ページ", accounts_path,class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete,class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to 'レッスンを企画する', new_lesson_path, class:"nav-link js-scroll-trigger" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'トップ', lessons_path,class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログイン', new_user_session_path,class:"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to '会員登録', new_user_registration_path,class:"nav-link js-scroll-trigger" %>
          </li>
        <% end %>
        </ul>
    </nav>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <div class = "content-area">
      <%= yield %>
    </div>
    <div class = "fotter">
      <p>Cooking!Do  ©MegumiCompany</p>
    </div>
  </div>
  </body>
</html>
